<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="center">
			<h1>Please enter a url</h1><br/>
			<%= link_to "Go back", root_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>