<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= @url %><br/>
		url array: <%= @urlCheck[0..7] %><br/>
		<%= @result %><br/>
		<h3>If you did not redirect to the desired page, please click <a href=<%= @short.original %>>here</a></h3>
	</div>
</div>