<% provide(:title, @short.original) %>
<div class="row">
	<div class="col-md-5 col-md-offset-4">
		<h3>Your new URL is</h3>
		<div class="row">
			<h2><%= @short.short %></h2>
		</div>
		<div class="row">
			<h4>Copy and paste this URL for your browser</h4>
		</div>
	</div>
</div>