@import "bootstrap";

html{
	overflow-y: scroll;
}

body{
	padding-top: 20px;
}

section{
	overflow: auto;
}

textarea{
	resize: veritcal;
}

.center{
	text-align: center;
}

.btn{
	margin-top: 20px;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

/*Typography*/
#url{
	color:#3385FF;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-color: #E8E8E8;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 107%;
}

/*header*/
#home{
	text-decoration: none;
	color: #3385FF;
	font-weight: 900;
	&:hover{
		color: #3385FF;
		text-decoration: none;
	}
}

/*forms*/
input, textarea, select, .uneditable-input{
	border: 1px solid #bbb;
	width: 105%;
	margin-bottom: 15px;

	
}

input{
	height: auto !important;
}